@using Microsoft.Extensions.Localization
@using MySolution.SharedLocalizations
@inject IStringLocalizer<SharedResources> Localizer

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@Localizer["Books"]</h1>
    <h1 class="display-4">@Localizer["Library"]</h1>
</div>